
body {
  font-family: 'Arial', sans-serif;
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;


}

.relogio {
  font-size: 150px;
  color: #fff;
  background-color: #black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  
  
}
.paragrafo1{
  font-size: 75px;
  font-family: cursive;
  text-align:right ;
}